<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% include nav.html nav_class="sidebar-nav-item" %}
    </nav>

    <p>
      v{{ site.version }}<br>
      &copy; {{ site.author.copy }} {{ site.author.name }}<br>
      All rights reserved<br>
      <a href="{{ site.github.repo }}">View on GitHub</a>
    </p>
  </div>
</div>
